@import url(//fonts.googleapis.com/earlyaccess/alefhebrew.css);

* {background-color: yellow !important;} { 
  font-family: "Alef Hebrew" !important;
}

#content {
	font-size: 1.2em;
}

p:hover {
	outline: 3px double #f00;
}

.make-red {
	color: red !important;
} { font-style:italic !important;} 